@mixin darkMode($isDark: true) {
    @if($isDark) {
        background-color: black;
        color: white;
    
        
    } @else {
        background-color: $light;
        color: black;
    }
}
@mixin darkBtn($isDark: true) {
    @if($isDark) {
        background-color: $heading;
        color: $primary;
    
        
    } @else {
        background-color: $primary;
        color: rgb(255, 255, 255);
    }
}