@import "../scss/variables";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body{
    background-image: url(../img/yellow-hexagonal-honeycomb-mesh-pattern-with-text-space_1017-26292.jpg);
    background-size: cover;
    margin: 0;
    box-shadow: inset 0px 0px 0px 5000px rgba(0,0,0,0.10);
    font-family: 'Arvo', serif
}
h1, h2, h3, h4 {
    color: $primary;
    -webkit-text-fill-color: $heading;
    -webkit-text-stroke: 1px;
}
h5 {
    font-size: 1.8rem;
    color: $heading;
}
.card-body {
    height: 30%;
}
.card {
    width: 30%;
    height: 450px;
}
.partners {
    border: 1px solid grey;
}
#cButton {
    max-width: fit-content;
}
#logo {
    width: 50px;
    position: absolute;
    left: 130px;
}