@import "./variables";
@import "./mixins";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body{
    background-image: url(../img/yellow-hexagonal-honeycomb-mesh-pattern-with-text-space_1017-26292.jpg);
    background-size: cover;
    margin: 0;
    box-shadow: inset 0px 0px 0px 5000px rgba(0,0,0,0.10);
    font-family: 'Arvo', serif;
    height: 100vh;
}
h1, h2, h3, h4 {
    color: $primary;
    -webkit-text-fill-color: $heading;
    -webkit-text-stroke: 1px;
}
h5 {
    font-size: 1.8rem;
    color: white;
}
.card-body {
    height: 30%;
}
.card {
    width: 30%;
    height: 450px;
}
.partners {
    border: 1px solid grey;
}
#cButton {
    max-width: fit-content;
}
#logo {
    width: 54px;
    position: absolute;
    left: 208px;
}
#darkLogo {
    width: 50px;
    position: absolute;
    left: 210px;
}
#sun {
    position: absolute;
    right: 95px;
}
.dark--theme {
    @include darkMode(true)
}
.light--theme {
    @include darkMode(false)
}
.dark--button {
    @include darkBtn(true)
}
.light--button {
    @include darkBtn(false)
}
.animazioneIngresso {
    opacity: 0;
    transform: translateY(30px);
    transition: 0.3s;
    transition-delay: 0.3s;
}
.animazioneIngressoX {
    opacity: 0;
    transform: translateX(-30px);
    transition: 0.3s;
    transition-delay: 0.3s;
}
.visibile {
    opacity: 1;
    transform: translate(0px);
}
#alveare, #bee, #warning  {
   width: 100px;
   position: absolute;
   right: 50px;
   bottom: 20px; 
  }
